---
import AstroIcon from '.././icons/AstroIcon.astro';
import TailwindCSS from '.././icons/TailwindCSS.astro';
import JavaScript from '.././icons/JavaScript.astro';
import GitHubOutline from '.././icons/GitHubOutline.astro';
import Link from '.././icons/Link.astro';

import ButtonProject from './ButtonProject.astro';

const TAGS = {
    ASTRO: {
        name: "Astro",
        class: "bg-black text-white",
        icon: AstroIcon
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: TailwindCSS
    },
    JS: {
        name: "JavaScript",
        class: "bg-black text-white",
        icon: JavaScript
    }
}

const PROJECTS = [
    {
        title: 'Portfolio',
        description: `Mi primer portfolio hecho con Astro y Tailwind CSS. Aquí subiré los proyectos personales y ejercicios 
                        resultantes de mi autoformación para reforzar y ampliar conocimientos.`,
        link: null,
        github: 'https://github.com/pedro-mcn-wd/portfolio.dev',
        image: '/images/projects/astro_project.webp',
        tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.JS]
    }
]
---

{
    PROJECTS.map(({title, description, image, tags, github, link}) => 
        <article class="block sm:flex gap-x-7 md:gap-x-14">
            <div class="max-sm:mb-5 sm:w-5/12">
                <img src={image} alt={`Captura de pantalla del proyecyo ${image}`} 
                     class="rounded-md border border-gray-500/20 bg-white/50 dark:bg-gray-800/50 
                            shadow-[0_3px_10px_rgb(0,0,0,0.2)] backdrop-blur-md"
                     />
            </div>
            <div class="sm:w-7/12">
                <h3 class="text-2xl font-semibold text-orange-400 mb-2">{title}</h3>
                <ul class="flex flex-wrap gap-6 mb-3">
                    {
                        tags.map(tag => 
                            <li class={`flex justify-center items-center text-nowrap gap-x-2 px-3 rounded-full ${tag.class}`}>
                                <tag.icon class="size-4"/> 
                                {tag.name}
                            </li>
                        )
                    }
                </ul>
                <p class="mb-5">{description}</p>
                <div class="flex gap-x-5">
                    <ButtonProject href={github} class={`
                                    border-gray-300 dark:border-gray-600 
                                    bg-gray-200 hover:bg-gray-300 dark:bg-gray-800 dark:hover:bg-gray-600 
                                    text-gray-800 dark:text-white`}>
                        <GitHubOutline class="me-2"/><span class="font-normal">Code</span>
                    </ButtonProject>
                    {
                        link && (
                            <ButtonProject href={link} class={`
                                            border-orange-400 hover:border-orange-500 
                                            bg-orange-400 hover:bg-orange-500 
                                            text-white`}>
                                <Link class="me-2"/><span class="font-normal">Preview</span>
                            </ButtonProject>
                        )
                    }
                </div>
            </div>
        </article>
    )
}